.scrollify {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.scrollify > .scrollify-content {
	overflow: scroll;
	overflow-x: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.scrollify > .scrollify-bar {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 8px;
	margin: 5px;
	border-radius: 5px;
	background-color: rgba(0,0,0,.25);
}
.scrollify-bar > .scrollify-slider {
	background-color: rgba(0,0,0,.9);
	border-radius: 5px;
	margin: 0 1px;
}